/**
* @name NotAnotherAnimeTheme
* @author puckzxz#2080
* @version 3.2
* @description An easily customizable and automatically updating theme
* @invite FdZhbjY
* @source https://github.com/puckzxz/NotAnotherAnimeTheme
* @updateUrl https://raw.githubusercontent.com/puckzxz/NotAnotherAnimeTheme/master/NotAnotherAnimeTheme.theme.css
*/

@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css);

/*
  To make editing this theme easier I recommend using Notepad++
  you can download it for free here https://notepad-plus-plus.org/download/
*/

/* Any images you use MUST end with .jpg or .png or any other image extension */

:root {
  /*
    Theme Background
  */
  --theme-background-image: url(https://i.imgur.com/8JxHlMb.png);

  /*
    Main Theme Color
  */
  --main-theme-color: rgb(67, 181, 129);

  /*
    Main Theme Transparency
  */
  --theme-transparency: rgba(0, 0, 0, 0.8);

  */
  --small-user-popout-background-image: var(--theme-background-image);
  --small-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --small-user-popout-background-image-position: center;

  /*
    Big User Popout
  */
  --big-user-popout-background-image: var(--theme-background-image);
  --big-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --big-user-popout-background-image-position: center;

 
